/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/fonts
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.vagrant
/yarn-error.log
.DS_Store
dump.rdb
/v8-compile-cache-0
/docs
.scannerwork
.scannerwork/
