.actionToolbar {
    * {
        font-size: 12px;
    }
    .btn {
        padding: 10px;
    }
    .dropdown-menu li:hover {
        background: #f3f3f3;
        color:$dropdown-link-color;
    }
    .dropdown {
        a.lang {
            border-top-right-radius:0;
            border-bottom-right-radius:0;
        }
    }
}

.searchForm {
    * {
        font-size: 14px;
    }
    div.space-between {
        padding: 5px 2px;
        background: #f3f3f3;
    }
    div.space-between:first-child {
        padding-left: 5px;
    }
    .btn-space {
        margin-right: 2px;
        margin-left: 2px;
    }
}
