.category-items li {

    .icon-btn {
        display: none;
    }

    &:hover {
        background-color: #f2f2f2;
        .icon-btn {
            display: inline-block;
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}
