@use "sass:math";

a:hover {
    color: $highlight;
}

nav {
    font-size: 0.8rem;
    select {
        font-size: 0.8rem;
    }
    a img.cms-logo {
        margin-bottom:3px;
    }
}
.hide{display: none}
.pos-absolute{position: absolute}

.form-group{
    margin-bottom: 20px;
}

.select-sm{width: auto}
.btn-from-submit{min-width: 100px}
legend{float: none; width: auto; padding: 0 10px}

.new {
    font-size: 8px;
    background-color: deeppink;
    color: #fff;
    padding: 2px;
    position: relative;
    top: -2px
}

.v-space {
    margin: 20px 0 0 0;
}


.counters {
    position: relative;
    top: 12px;
    padding-left: 20px;
}


.admin-form {
    padding: 10px 30px;
}

.center-align {
    float: none;
    text-align: center
}


.border-bottom {
    border-bottom: 1px solid #c3c3c3;
}


.hand {
    cursor: pointer
}


/****** Module Creator *********/


.select-big {
    margin-bottom: 8px
}

.pl20 {
    padding-left: 20px
}


.normal {
    font-weight: normal !important;
}




.pb5 {
    padding-bottom: 5px;
}

.ptb5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.p5 {
    padding: 5px;
}

.plr5 {
    padding-left: 5px;
    padding-right: 5px;
}


.imgHeightFix img {
    height: 100%
}

.imgWidthFix img {
    width: 100%
}

.head_action {
    padding-right: 20px !important;
}

.left-zero {
    padding-left: 0 !important;
}

.is-invalid {
    border-color: maroon
}

.clearboth {
    clear: both
}

.panel .panel-footer {
    min-height: 33px
}

.strong {
    font-weight: bold
}

.form-control {
    &.select {
        width: inherit;
        display: inline-block;
    }
}


.fixed {
    position: fixed
}

.width-auto {
    width: auto;
}
.inline {
    display: inline
}

.width30percent {
    width: 30%
}

.width40percent {
    width: 40%
}
