.info-box {
    min-width: 150px;

    &:hover {
        border: 1px solid #9d9d9d;
    }

    .info-box-icon {
        display: block;
        text-align: center;
        font-size: 37px;
        background: #fff;
        padding: 20px;
    }

    .info-box-number {
        display: block;
        font-weight: bold;
        font-size: 18px;
    }

    .info-box-text {
        display: block;
        text-align: center;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: uppercase;
    }


}

.color-1 {
    background: deeppink !important;
    color: white !important;
}

.color-2 {
    background: deepskyblue  !important;
    color: white !important;
}

.color-3 {
    background: darkgreen !important;
    color: white !important;
}

.color-4 {
    background: coral !important;
    color: white !important;
}

.color-5 {
    background: darkmagenta !important;
    color: white !important;
}

.color-6 {
    background: darkblue !important;
    color: white !important;
}

.color-7 {
    background: darkcyan !important;
    color: white !important;
}

.color-8 {
    background: darkolivegreen !important;
    color: white !important;
}

.color-9 {
    background: darkgoldenrod !important;
    color: white !important;
}

.color-10 {
    background: darkslateblue !important;
    color: white !important;
}
.color-1, .color-2, .color-3, .color-4, .color-5, .color-6, .color-7, .color-8, .color-9, .color-10 {
    a, a:visited {
        color:white;
    }
}
