/***** Menu *********/
.t_left {
    font-size: 0.8rem;
    background: $left-background;
    color: white;
    padding: 0;
    box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.2),
    0 0 200px 1px rgba(255, 255, 255, 0.2);

    .fa-icons {
        padding-right: 5px;
    }
    a {
        color: white;
        display: block;
        text-decoration: none;
        padding: 5px 10px;
    }

    a:hover {
        background: $highlight;
    }

    .adjustMore {
        font-size: 0.7rem;
        padding: 8px 15px;
        position: relative;
        top: -5px;
        right: -10px;
    }

    a.active {
        background: $left-nav-a-active-bg;
        color: $left-nav-a-active-color;
        border-bottom: 0 solid #c3c3c3;
    }

    ul ul li a {
        color:$left-nav-sub-a-active-color;
        transition: all 0.15s;
        padding-left: 25px;
        &:hover {
            background: $highlight;
        }
        &.active {
            background:$left-nav-sub-a-active-bg;
        }
    }

    ul ul {
        display: none;

        &.active {
            display: block;
            background: $left-background-sub;
        }
    }

}
