@use "sass:math";
$spinnerColors: #84EBBD, #4977EC, #F6BB67, #333841;
$spinnerDegree: 175.6449737548828;

.loaderModal {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .2;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1999;
}

.loaderPanel {

    border: 1px solid #c3c3c3;
    display: inline-block;
    padding: 5px;
    position: fixed;
    left: 50%;
    top: 50%;
    background: #fff;
    z-index: 2000;

    .loaderText {
        display: inline-block;
        position: relative;
        top: -10px;
        padding-left: 10px;
    }

    .spinner {
        width: 30px;
        height: 30px;
        display: inline-block;
        animation: contanim 2s linear infinite;

        svg {
            width: 100%;
            height: 100%;

            left: 0;
            top: 0;
            position: absolute;

            transform: rotate(-90deg);

            @for $i from 1 through 4 {
                &:nth-child(#{$i}) circle {
                    stroke: nth($spinnerColors, $i);
                    stroke-dasharray: 1, 300;
                    stroke-dashoffset: 0;

                    animation: strokeanim 3s calc(.2s * (#{$i})) ease infinite;
                    transform-origin: center center;
                }
            }
        }

    }

}


@keyframes strokeanim {
    0% {
        stroke-dasharray: 1, 300;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 120, 300;
        stroke-dashoffset: math.div(-$spinnerDegree, 3);
    }
    100% {
        stroke-dasharray: 120, 300;
        stroke-dashoffset: -$spinnerDegree;
    }
}

@keyframes contanim {
    100% {
        transform: rotate(360deg)
    }
}
