.fieldset {
    margin-bottom: 20px;
    border: 1px double #c3c3c3;
    padding: 10px;
}

.legendTitle {
    font-weight: bold;
    border: none 0;
    margin-bottom: 10px
}

.fields, .models {
    background: #f7ecb5;
    padding: 5px;
    margin-right: 15px;
    border: 1px solid #c3c3c3;
    position: relative;
    display: inline-block;
    margin-bottom: 10px
}

.models:hover, .fields:hover {
    color: #000
}

.models .glyphicon, .fields .fa {
    float: right;
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #fff;
    cursor: pointer
}

.models_row {
    margin-bottom: 10px;
}
.tables_panel {
    max-height: 300px;
    overflow: auto;
}
.models-box {
    width: 19rem;
}
