.list-permission {
    li {
        border-bottom: 1px solid #c3c3c3;

        &:hover {
            background-color: #f2f2f2;

            .readonly {
                display: block;
            }
        }

        ul {
            margin-bottom: 5px;

            li {
                border: 0px none;
            }
        }

        .readonly {
            display: none
        }
    }


}
