.non-selectable {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.js_right_panel {
    font-size: 0.8rem;
}
.hook-header {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;

    a, a:visited {
        color:#3c763d;
    }
}

.modules-list {
    padding: 0;
    margin: 0;
    li {
        list-style-type: none;
        border: 1px dotted #c3c3c3;
        padding: 5px;
        margin: 3px 0;
        border-radius: 3px;

        .delete {
            display: none;
        }

        a {
            color: #666;
        }

        .fa {
            margin-top: 3px
        }

        &:hover {
            background-color: #f2f2f2;

            .delete {
                display: inline-block;
            }
        }
    }
}


.all-modules-right li {
    &:hover {
        .delete {
            display: none;
        }
    }
}

.module-drop-eager {
    background-color: lightyellow;
    padding-bottom: 30px;
}
