/** Popover **/
.popover {
    .close {
        background: #666;
        border-radius: 19%;
        padding: 5px;
        font-size: 10px;
        color: #fff;
        position: absolute;
        top: -7px;
    }
}

/** Homepage **/

.modal {
    .select-sm {
        font-size: 0.8rem;
    }
}
