.table-grid {
    font-size: 0.8rem;
    a, a:visited {
        border: none;
        text-decoration: none
    }

    td {
        border: 1px solid #c3c3c3;
        padding: .5rem;
    }

    .header {
        font-weight: bold
    }

    th {
        background-color: #f2f2f2 !important;
        text-transform: uppercase;
        border: 1px solid #c3c3c3;
    }
    .table-links, .table-links:visited {
        color: inherit;
    }
}
.actions a {
    color: #636b6f;
    padding: 10px 3px;

    &:hover {
        color: maroon
    }

    &.approved {
        color: coral
    }
}

