$highlight:                         #f5008b;
$highlight-sub:                     darkpink;
$spinnerDegree:                     360;

$pagination-color:                  #1f1f1f;
$pagination-focus-color:            white;
$pagination-focus-bg:               $highlight;
$pagination-hover-color:            white;
$pagination-hover-bg:               $highlight;
$pagination-active-color:           white;
$pagination-active-bg:              $highlight;
