@import "font-awesome/scss/font-awesome";

.basic-theme {
  margin-top: 0px;
}
.hero-bg-1 {
  background-image: url('../img/hasshtagcms-product-1.jpg') !important;
}
.hero-bg-2 {
  background-image: url('../img/hasshtagcms-product-2.jpg') !important;
}

.hero {
  .hero-inner {
    padding: 100px 0;
    background-size: cover;
    background-position: center;
  }
  color: #fff;
  background-image: linear-gradient(#5b595c, #ffffff);
  .hero-text {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: inline-block;
    min-width: 600px;
    margin-bottom: 2px;
    font-size: 110%;
  }
  .bigger {
    font-size: 210%;
    padding: 0 10px;
    font-weight: bold
  }
}


@media screen and (max-width: 640px) {
  .hero {
    .hero-text {
      min-width: 300px;
    }
    .bigger {
      font-size: 105%;
    }
  }
}

@media screen and (max-width: 653px) {
  .hero {
    .hero-text {
      min-width: 250px;
    }
    .bigger {
      font-size: 89%;
    }
  }
}

nav {
  background-color: #fff !important;
}
nav li {

  &:hover {
    background-color: #c3c3c3;
  }
  &.active {
    border-bottom: 1px solid #c3c3c3;
  }
}
.nav-divider {margin-left:10px; margin-right: 10px; border-left: 1px solid #c3c3c3; }

.featured-card {
  min-height: 300px;
  margin-bottom:50px;

  span.__icon {
    font-size: 100px;
    line-height: 200px;
    color: white;
  }

  .design-card {
    background-color: #3f48c4;
  }

  .design-mobile {
    background-color:#46d19b;
  }

  .design-fast-loading {
    background-color:#fa9529;
  }

  .design-user-friendly {
    background-color:#933FD4;
  }

  .design-well-documented  {
    background-color:#f23d52;
  }
  .design-admin-panel {
    background-color:#81d146;
  }

}
.shadow-common {
  -webkit-box-shadow: 0px 10px 27px 0px rgba(154, 161, 171, 0.18);
  box-shadow: 0px 10px 27px 0px rgba(154, 161, 171, 0.18);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: block;
  top: 0;
}

.box-shadow {
  -webkit-box-shadow: 0px 10px 27px 0px rgba(154, 161, 171, 0.18);
  box-shadow: 0px 10px 27px 0px rgba(154, 161, 171, 0.18);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: relative;
  display: block;
  top: 0;

  &:hover {
    -webkit-box-shadow: 0px 25px 36px 0px rgba(154, 161, 171, 0.24);
    box-shadow: 0px 25px 36px 0px rgba(154, 161, 171, 0.24);
    top: -3px;
  }

}

.section-intuitive {
  background-color: #fff;
  padding: 50px 0;
  margin: 10px 0;
}

.section-faq {
  padding: 50px 0;
  background-color: #fff;

  .faq-title {
    margin-bottom: 20px;

  }

  .faq-text {
    margin-bottom: 70px;
    padding: 0 50px 0 0;
  }

  a, a:visited {
    color: darkgreen;
  }
}

.section-subscribe {
  background-color: #0e76a8;
  padding: 50px 0;
  color: #fff;
}

.section-our-specaility {
  background-color: #f5f8fa;
  padding: 50px 0 0 0;
}

.socials a {padding: 10px;}
.list-footer,  .list-footer a{
  padding: 0;
  margin: 0;
  color: #212529;

  li{
    list-style-type: none
  }
}
.section-blogs {
  margin-top: 50px;
  margin-bottom: 50px;

  .blog {
    margin-bottom: 50px;
  }
}
.copyright {margin: 50px 0}
.pointer{cursor:pointer}

.blog-date {
  background: #fff;
  padding: 5px 10px;
  position: relative;
  border:1px solid #c3c3c3;
  top:-35px;

  .icon {
    color:green;
  }
  .text {
    color:#666;
  }
}
.v-space {margin-bottom: 50px}

.section-comments {
  margin: 50px 0;
  .popover {
    max-width: 95%;
    min-height: 50px;
    top: 14px;
  }
  .image-column {
    font-size: 11px;
  }
  .image {
    background: #c3c3c3;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border: 1px double #c3c3c3;
  }
  .said{display: block}
  .author, .fa{
    color:darkgreen
  }
  .first-text {color:#666; font-style: italic}
  fieldset.loaded {
    border: 1px solid #c3c3c3;

    legend {
      margin-left: 10px;
    }
  }


}

.sample-module {
  margin-top:50px;
  margin-bottom:50px;
  .container {
    padding-top: 30px;
    border: 1px dashed #c3c3c3;
    border-bottom: 5px solid #666;
  }
  h2 {
    padding: 10px;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
  h3 {
    color: #155724;
  }

}
.v-space {
  margin-top: 50px;
}
ul.hashlist {
  list-style-type: none;
  margin:10px;
  padding: 0;
  li {
    a, a:hover {
      text-decoration: none;
    }
    a:before {
      content: "# ";
      color: #ff2d20;
    }
  }
}
.hash {
  &:before {
    content: "# ";
    color: #ff2d20;
  }
}
blockquote, q {
  &:before {
    content: "“";
    font-size:200%
  }
  &:after {
    content: "“";
    font-size:200%
  }
}
pre {
  background: #fbfbfd;
  box-shadow: 0 1px 1px rgba(0,0,0,.075);
  color:#ca473f;
  padding: 10px;
  border-left:2px solid #055472;
}
pre.command {
  &:before {
    content: "$";
    color:#055472;
    padding-right: 10px;
  }
}
.token.atrule, .token.attr-value, .token.keyword {
  color: #055472;
}
.token.class-name, .token.function {
  color: #ca473f;
}

.left-column {
  padding-top: 50px;
}
.left-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    display: block;
    a {
      cursor: pointer;
      padding: 5px 10px;
      text-decoration: none;
      display: block;
      &:hover {
        background-color: #f3f3f3;
      }
    }
    &.active {

      a {
        background-color: #666;
        color:#fff;
      }
    }

  }
}

.dfd-img {
  text-align:center;
  padding: 50px 10px;
  margin: 20px 0;
  img {
    border-radius: 10px;
  }
}
.info-icon {
  font-size: 150%;
  color: #e0a800;
  padding-right: 5px;
}
